openapi: 3.1.0
info:
  title: Veho labels zips API
  version: '2.2'
  contact:
    email: info@shipveho.com
    url: https://shipveho.com/
    name: Veho
  description: 'Welcome to the Veho API documentation! You can use the Veho API to programmatically create shipments and download shipping labels.

    You''re viewing Version 2 of the Veho API, which is our current version, meaning it''s actively supported. Veho API V1 is deprecated.'
  summary: Veho API to programmatically create shipments and download shipping labels
servers:
- url: https://api.shipveho.com/v2
  description: Production
- url: https://api.sandbox.shipveho.com/v2
  description: Sandbox
security:
- apiKey: []
tags:
- name: zips
  description: Serviceable Zips
paths:
  /serviceable-zips:
    get:
      summary: List serviceable ZIP codes
      tags:
      - zips
      parameters:
      - schema:
          type: string
          name: type
          enum:
          - delivery
          - pickup
        name: serviceType
        in: query
        required: false
        description: Service type for which to retrieve serviceable ZIP codes (will use `delivery` if not provided)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceableZipsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getServiceableZips
      description: 'This endpoint returns the full list of ZIP codes currently serviced by Veho.

        >  The sandbox environment contains a subset of ZIP codes within our serviceable areas so when creating an order in the sandbox environment, make sure to use a destination ZIP code included in the sandbox serviceable ZIP list.

        '
components:
  responses:
    '503':
      description: Service Unavailable -- We're temporarily offline for maintenance. Please try again later.
    '404':
      description: Not Found -- The requested resource could not be found.
    '429':
      description: Too Many Requests
    '500':
      description: Internal Server Error -- We had a problem with our server. Try again later.
    '401':
      description: Unauthorized -- The header did not include a valid apiKey header.
    '403':
      description: Forbidden -- The requested resource cannot be accessed with this apiKey.
  schemas:
    ServiceableZipsResponse:
      type: object
      required:
      - zipCodes
      properties:
        zipCodes:
          type: array
          description: Serviceable ZIP codes
          items:
            type: string
  securitySchemes:
    apiKey:
      name: apikey
      type: apiKey
      in: header
x-stoplight:
  id: e777wryv1msks
