openapi: 3.1.0
x-stoplight:
  id: e777wryv1msks
info:
  title: Veho API
  version: '2.2'
  contact:
    email: info@shipveho.com
    url: 'https://shipveho.com/'
    name: Veho
  description: |-
    Welcome to the Veho API documentation! You can use the Veho API to programmatically create shipments and download shipping labels.
    You're viewing Version 2 of the Veho API, which is our current version, meaning it's actively supported. Veho API V1 is deprecated.
  summary: Veho API to programmatically create shipments and download shipping labels
tags:
  - name: labels
    description: Labels
  - name: manifests
    description: Manifests
  - name: merchants
    description: Merchants
  - name: orders
    description: Orders
  - name: packages
    description: Packages
  - name: pickups
    description: Pickups
  - name: quotes
    description: Quotes
  - name: webhooks
    description: Webhooks
  - name: tracker
    description: Tracker
  - name: zips
    description: Serviceable Zips
servers:
  - url: 'https://api.shipveho.com/v2'
    description: Production
  - url: 'https://api.sandbox.shipveho.com/v2'
    description: Sandbox
paths:
  /orders:
    post:
      summary: Create an order
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OrderResponse'
                  - $ref: '#/components/schemas/QuotedOrderResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: createOrder
      description: |
        Creates a new order.
        This endpoint should be used by a client upon order completion or fulfillment of an item in order to notify Veho that there are packages to be shipped, and to obtain a barcode and/or shipping label from Veho.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
              x-examples:
                example-1:
                  destination:
                    street: 301 Cobblestone Way
                    city: Bedrock
                    state: CO
                    zipCode: '80302'
                  serviceClass: groundPlus
                  recipient: Fred Flintstone
                  phone: 3031234567
                  instructions: Place behind the decorative boulder
                  externalId: abc-123
                  packages:
                    - weight: 10
                      length: 6
                      width: 6
                      height: 3
        description: |-
          The `Order` request should include an Order object.
          > An order must include either packageCount or packages, but not both.
      parameters:
        - schema:
            type: boolean
          name: includeQuote
          in: query
          required: false
          description: |-
            Boolean flag whether or not to estimate the billable rate for the package, and return that with the order response.
            If a quote would fail to generate for any reason, it will be returned as  "null" in the response, rather than fail to respond with a created order.  Quotes generated with this parameter are proxied through the normal /rate  endpoint, and follow the same rules and limitations as that API, plus a  strict 2 second timeout. Orders with more than 10 packages must request quotes in (concurrent)  batches, and are more likely to return without quotes due to this timeout.
            Quotes are a best guess of a package's rate based on assumptions from the information provided. In order to successfully generate a quote, fromAddress, package dimensions, and weight must be provided.
            > BY ACCESSING AND USING THE INCLUDE QUOTE QUERY PARAMETER, YOU/COMPANY ACKNOWLEDGE AND AGREE THIS IS A PILOT AND ANY QUOTED RATE(S) OR TRANSIT TIME(S) RETURNED BY THIS QUOTES API ENDPOINT ARE ESTIMATES ONLY AND PROVIDED SOLELY FOR INFORMATIONAL PURPOSES. EXCEPT AS AGREED TO BY VEHO IN A FULLY EXECUTED WRITTEN CONTRACT ("CONTRACT"), VEHO MAKES NO TIME COMMITMENTS FOR PACKAGE TRANSIT. QUOTED RATES MAY VARY FROM FINAL ACTUAL AMOUNT(S) INVOICED DEPENDING ON VARIABLES INCLUDING BUT NOT LIMITED TO SERVICE DATE AND TIME, ROUTE, CHANGES IN PARCEL OR SHIPPING CHARACTERISTICS, APPLICABLE SURCHARGES, AGREED UPON ADDITIONAL FEES, AND/OR SERVICE AVAILABILITY. IN THE EVENT OF ANY CONFLICT BETWEEN THE QUOTED RATES RETURNED VIA THE QUOTES API ENDPOINT AND THE RATES SET FORTH IN VEHO'S CONTRACT WITH YOU/COMPANY, THE RATES SET FORTH IN SUCH CONTRACT SHALL PREVAIL, GOVERN, AND APPLY.
      tags:
        - orders
    get:
      summary: Find orders
      parameters:
        - schema:
            type: string
          name: externalId
          in: query
          required: true
          description: 'External Order ID, provided at order creation'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: findOrders
      description: |
        Finds orders that match query parameters.
        Currently only supports lookup by externalId
      tags:
        - orders
  '/orders/{_id}':
    get:
      parameters:
        - schema:
            type: string
          name: _id
          in: path
          required: true
          description: Order ID
      summary: Get an order
      tags:
        - orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              examples:
                example-1:
                  value:
                    _id: 5cxKLWAqtZhbNFe9y
                    destination:
                      street: 301 Cobblestone Way
                      city: Bedrock
                      state: CO
                      zipCode: '80302'
                    serviceClass: groundPlus
                    recipient: Fred Flintstone
                    externalId: abc-123
                    merchantId: tccnNSTZfRxwcqmMN
                    createdAt: '2019-01-23T00:35:50.788Z'
                    serviceType: delivery
                    packages:
                      - _id: GqN8v5wvGNxmnFu4Y
                        externalId: myPackageId1
                        length: 12
                        width: 10
                        height: 9
                        weight: 25
                        declaredValue: 7500
                        orderId: 5cxKLWAqtZhbNFe9y
                        pdfShippingLabelLink: 'https://api.shipveho.com/v2/labels/GqN8v5wvGNxmnFu4Y.pdf'
                        pngShippingLabelLink: 'https://api.shipveho.com/v2/labels/GqN8v5wvGNxmnFu4Y.png'
                        zplShippingLabelLink: 'https://api.shipveho.com/v2/labels/GqN8v5wvGNxmnFu4Y.zpl'
                        currentState: created
                        createdAt: '2019-01-23T00:35:50.796Z'
                        barCode: GqN8v5wvGNxmnFu4Y
                        trackingId: VH1234565CSK1W
                        eventLog:
                          - eventType: created
                            timestamp: '2019-01-23T00:35:50.796Z'
                      - _id: yuyGF9EeACeH6f8ch
                        externalId: myPackageId2
                        orderId: 5cxKLWAqtZhbNFe9y
                        pdfShippingLabelLink: 'https://api.shipveho.com/v2/labels/yuyGF9EeACeH6f8ch.pdf'
                        pngShippingLabelLink: 'https://api.shipveho.com/v2/labels/yuyGF9EeACeH6f8ch.png'
                        zplShippingLabelLink: 'https://api.shipveho.com/v2/labels/yuyGF9EeACeH6f8ch.zpl'
                        currentState: created
                        createdAt: '2019-01-23T00:35:50.808Z'
                        barCode: yuyGF9EeACeH6f8ch
                        trackingId: VH1234565CSK1W
                        eventLog:
                          - eventType: created
                            timestamp: '2019-01-23T00:35:50.808Z'
                example-2:
                  value:
                    _id: XSjuNSWgq7K8KKTrc
                    destination:
                      street: 1900 Grove St
                      city: Boulder
                      state: CO
                      zipCode: '80302'
                    serviceClass: groundPlus
                    recipient: Linda Lee
                    createdAt: '2019-01-22T22:44:30.667Z'
                    serviceType: delivery
                    packages:
                      - _id: QALWadntAhLH9y6DB
                        orderId: XSjuNSWgq7K8KKTrc
                        pdfShippingLabelLink: 'https://api.shipveho.com/v2/labels/QALWadntAhLH9y6DB.pdf'
                        pngShippingLabelLink: 'https://api.shipveho.com/v2/labels/QALWadntAhLH9y6DB.png'
                        zplShippingLabelLink: 'https://api.shipveho.com/v2/labels/QALWadntAhLH9y6DB.zpl'
                        currentState: created
                        scannedByClient: false
                        createdAt: '2019-01-22T22:44:30.675Z'
                        trackingId: VH1234565CSK1W
                        barCode: QALWadntAhLH9y6DB
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getOrderById
      description: |
        Retrieves and order and its packages.
    patch:
      summary: Update an order
      description: Update specific fields on an existing order. Currently supports updating delivery instructions. Some updates may not be -immediately- reflected subsequent get requests.
      parameters:
        - schema:
            type: string
          name: _id
          in: path
          required: true
          description: Order ID
      tags:
        - orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchOrderRequest'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: updateOrder
  '/orders/{_id}/events/cancelled':
    put:
      summary: Cancel an order
      parameters:
        - schema:
            type: string
          name: _id
          in: path
          required: true
          description: Order ID
      tags:
        - orders
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: cancelOrder
      description: Cancel an existing order.
  /orders/events/cancelled:
    put:
      summary: Cancel an order by an alternative ID
      parameters:
        - schema:
            type: string
          name: barcode
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: cancelOrderById
      description: |
        Cancels an order that matches the given query parameter.
        Currently only supports canceling by barcode.
      tags:
        - orders
  '/packages/{_id}':
    parameters:
      - schema:
          type: string
        name: _id
        in: path
        required: true
        description: 'The Veho ID of the Package (starts with "PKG_"), or the tracking ID (starts with "VH").'
      - schema:
          type: string
        in: query
        name: includeDeliveryImage
        description: |
          Whether to include URL to access the delivery image for package, if available. Delivery image URLs are valid for one week.
          >  Requesting the delivery image will result in a slower response time than omitting it from the response.
        required: false
    get:
      summary: Get a package by id
      tags:
        - packages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPackageByIdResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getPackageById
      description: Retrieves all details of an existing package. Either package ID or tracking ID can be used to query the package.
  /packages/tracking:
    get:
      summary: Get package tracking information
      tags:
        - packages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPackageByIdResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getPackageTrackingInformation
      parameters:
        - schema:
            type: string
          name: trackingId
          in: query
          required: false
          description: Package tracking ID
        - schema:
            type: string
          name: barcode
          in: query
          required: false
          description: Package barcode
        - schema:
            type: string
          name: externalId
          in: query
          required: false
          description: External package ID
        - schema:
            type: string
          name: packageId
          in: query
          required: false
          description: Package ID
        - schema:
            type: string
          name: includeDeliveryImage
          in: query
          required: false
          description: 'Include URL to access the delivery image for package, if available'
      description: 'Retrieves package tracking information using one of the supported identifiers. Only one of trackingId, barcode, externalId, or packageId should be provided. If the requesting API key was not used to create the order, limited information will be returned. externalId can only be tracked by the client that created the order. includeDeliveryImage is an optional parameter that will include a URL to access the package''s delivery image, if available.'
  /packages:
    get:
      summary: Get a package by barcode
      tags:
        - packages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getPackagesByBarcode
      parameters:
        - schema:
            type: string
          in: query
          name: barCode
          description: barCode of the package to retrieve
          required: true
      description: |-
        Retrieve all details of an existing package with a specified barcode.
        Note that this endpoint returns an array of packages, though there is usually only a single package matching the provided barcode.
  /serviceable-zips:
    get:
      summary: List serviceable ZIP codes
      tags:
        - zips
      parameters:
        - schema:
            type: string
            name: type
            enum:
              - delivery
              - pickup
          name: serviceType
          in: query
          required: false
          description: Service type for which to retrieve serviceable ZIP codes (will use `delivery` if not provided)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceableZipsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getServiceableZips
      description: |
        This endpoint returns the full list of ZIP codes currently serviced by Veho.
        >  The sandbox environment contains a subset of ZIP codes within our serviceable areas so when creating an order in the sandbox environment, make sure to use a destination ZIP code included in the sandbox serviceable ZIP list.
  /merchants:
    post:
      summary: Create a merchant for client
      tags:
        - merchants
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: createMerchants
      description: |-
        For 3PL Clients shipping on behalf of merchants that you manage upstream, you can use this API to let us know who they are and manage them under your Client account.
        For example, if you are a 3PL named "ShipFast" and you're shipping to us on behalf of "Flintstone's Wheels", you can use this API to let us know that you're working with "Flintstone's Wheels". After POST Merchants, you'll use the _id from the response body with POST Orders to link between the order and the merchant you're working with upstream.
        This endpoint creates a new merchant for client based on the client's apiKey in headers.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRequest'
    get:
      summary: Get all merchants for client
      tags:
        - merchants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MerchantRequest'
              examples:
                example-1:
                  value:
                    - _id: TuN75hYYBicRsaLWo
                      name: Flintstone's Wheels
                    - _id: diQFDqSXcEp6ixpQ3
                      name: Flintstone's Cars
                    - _id: tccnNSTZfRxwcqmMN
                      name: Flintstone's Parts
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: getMerchants
      description: Retrieve all merchants for client based on the client's apiKey in headers.
    parameters: []
  '/merchants/{_id}':
    put:
      summary: Update a merchant for client
      tags:
        - merchants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: updateMerchants
      description: This endpoint updates an existing merchant for client based on the client's apiKey in headers.
    delete:
      summary: Delete a merchant for client
      tags:
        - merchants
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      operationId: deleteMerchant
      description: This endpoint deletes an existing merchant for client based on the client's apiKey in headers.
    parameters:
      - schema:
          type: string
        name: _id
        in: path
        required: true
        description: Merchant ID
  /webhooks/webhookConfigurations:
    get:
      summary: Get current webhook configurations
      description: This endpoint returns a list of all webhook configurations for the client associated with the API key used in the request header.
      tags:
        - webhooks
      operationId: getWebhookConfigurations
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookConfigurationListResponse'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - apiKey: []
    post:
      summary: Add a new webhook configuration
      description: This endpoint creates a new webhook configuration for the client associated with the API key used in the request header.
      tags:
        - webhooks
      operationId: addWebhookConfiguration
      requestBody:
        description: Webhook Configuration Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfigurationRequest'
        required: true
      responses:
        '200':
          description: successful operation
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
  '/webhooks/webhookConfigurations/{id}':
    get:
      summary: Get a webhook configuration by ID
      description: This endpoint returns a single webhook configuration by its ID.
      tags:
        - webhooks
      operationId: findWebhookConfigurationById
      parameters:
        - name: id
          in: path
          description: ID of the configuration you want to see
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookConfigurationResponse'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
    patch:
      summary: Update a Webhook Configuration by ID
      description: This endpoint updates a single webhook configuration by ID.
      operationId: updateWebhookConfigurationById
      tags:
        - webhooks
      parameters:
        - name: id
          in: path
          description: ID of the configuration you want to see
          required: true
          schema:
            type: string
      requestBody:
        description: Webhook Configuration Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfigurationRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookConfigurationResponse'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a webhook configuration by ID
      description: This endpoint deletes a single webhook configuration by ID.
      operationId: deleteWebhookConfigurationById
      tags:
        - webhooks
      parameters:
        - name: id
          in: path
          description: ID of the configuration you want to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /webhooks/webhookEvents:
    get:
      summary: Get webhook events
      description: 'This endpoint returns a list of all webhook events that fit the given search criteria, for the client associated with the API key used in the request header.'
      operationId: getWebhookEvents
      tags:
        - webhooks
      parameters:
        - name: occurredAtMin
          description: Defines the earliest time to search - the query will return webhook events occurring AFTER this time
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: occurredAtMax
          description: Define the latest time to search - the query will return webhook events occurring BEFORE this time
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: orderId
          description: Get all webhook events associated with a specific order
          in: query
          required: false
          schema:
            type: string
        - name: packageId
          description: Get all webhook events associated with a specific package
          in: query
          required: false
          schema:
            type: string
        - name: endpoint
          description: Get all webhook events associated with a specific endpoint
          in: query
          required: false
          schema:
            type: string
            format: url
        - name: trackingId
          description: Get all webhook events associated with a specific tracking ID
          in: query
          required: false
          schema:
            type: string
        - name: barcode
          description: Get all webhook events associated with a specific barcode
          in: query
          required: false
          schema:
            type: string
        - name: status
          description: Get all webhook events with associated with a specific success status
          in: query
          required: false
          schema:
            type: string
            enum:
              - success
              - failure
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
        '403':
          description: Bad API key
        '404':
          description: No webhook events matching the query
      security:
        - apiKey: []
  '/webhooks/webhookEvents/{id}':
    get:
      summary: Get a webhook event by ID
      operationId: getWebhookEventsById
      description: This endpoint returns a single webhook event by ID
      tags:
        - webhooks
      parameters:
        - name: id
          description: ID of the individual event
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
        '403':
          description: Bad api key
        '404':
          description: No Webhook Events Matching the id
      security:
        - apiKey: []
  /webhooks/replay:
    post:
      summary: Replay webhook events
      description: 'This endpoint will take a list of webhook event IDs and re-attempt to send the payload from each event to the configured endpoint. This endpoint is best used in conjunction with the `getWebhookEvents` endpoint - you can use that endpoint to find the IDs of events that failed, using the necessary search criteria, then replay them using this endpoint.'
      tags:
        - webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  description: A list of webhook event IDs to replay
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventIdsReplayed:
                    description: The IDs of all the webhook events that were successfully replayed. Will return an empty array if no events were replayed.
                    type: array
                    items:
                      type: string
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      operationId: replayWebhookEvents
  '/labels/{packageId}.{format}':
    get:
      operationId: getPackageLabel
      summary: Get a package label
      description: |
        Veho strongly recommends that clients use the Veho generated labels on their packages. The label for any package can be retrived through our labels endpoint.
      tags:
        - labels
      parameters:
        - name: packageId
          description: The id of the package object (the _id field on the Package Response object)
          in: path
          required: true
          schema:
            type: string
        - name: format
          description: The format you would like the label in
          in: path
          required: true
          schema:
            type: string
            enum:
              - zpl
              - pdf
              - png
      responses:
        '200':
          description: A package lable in the requested format
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /quote/rate:
    post:
      servers:
        - url: 'https://api.shipveho.com/v2'
          description: Production
      operationId: createSimpleQuote
      summary: Create a simple quote for a provisional order
      description: |
        Create a simple quote.
        This endpoint should be used to retrieve the rate and transit time for a package that travels through the zips provided.
        > BY ACCESSING AND USING THE QUOTES API ENDPOINT, YOU/COMPANY ACKNOWLEDGE AND AGREE THIS IS A PILOT AND ANY QUOTED RATE(S) OR TRANSIT TIME(S) RETURNED BY THIS QUOTES API ENDPOINT ARE ESTIMATES ONLY AND PROVIDED SOLELY FOR INFORMATIONAL PURPOSES. EXCEPT AS AGREED TO BY VEHO IN A FULLY EXECUTED WRITTEN CONTRACT ("CONTRACT"), VEHO MAKES NO TIME COMMITMENTS FOR PACKAGE TRANSIT. QUOTED RATES MAY VARY FROM FINAL ACTUAL AMOUNT(S) INVOICED DEPENDING ON VARIABLES INCLUDING BUT NOT LIMITED TO SERVICE DATE AND TIME, ROUTE, CHANGES IN PARCEL OR SHIPPING CHARACTERISTICS, APPLICABLE SURCHARGES, AGREED UPON ADDITIONAL FEES, AND/OR SERVICE AVAILABILITY. IN THE EVENT OF ANY CONFLICT BETWEEN THE QUOTED RATES RETURNED VIA THE QUOTES API ENDPOINT AND THE RATES SET FORTH IN VEHO'S CONTRACT WITH YOU/COMPANY, THE RATES SET FORTH IN SUCH CONTRACT SHALL PREVAIL, GOVERN, AND APPLY.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleQuoteResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleQuoteRequest'
              x-examples:
                example-1:
                  originationZip: '22001'
                  deliveryZip: '22001'
                  shipDate: '2024-06-01'
                  length: 50
                  width: 50
                  height: 50
                  weight: 10
      parameters: []
      tags:
        - quotes
  /manifests/notify:
    post:
      summary: Asynchronously submit packages set to be injected on a specific date
      description: 'The packages must exist already in our systems. The package identifiers can be package IDs, tracking IDs, external IDs or barcodes. The validation is asynchronous, thus the endpoint will respond a 201 status as soon as possible.'
      tags:
        - manifests
      operationId: postManifestsAsync
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ManifestRequestWithPackageIds'
                - $ref: '#/components/schemas/ManifestRequestWithBarcodes'
                - $ref: '#/components/schemas/ManifestRequestWithExternalIds'
                - $ref: '#/components/schemas/ManifestRequestWithTrackingIds'
            examples:
              packageIds:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  packageIds:
                    - packageId1
                    - packageId2
              barcodes:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  barcodes:
                    - barcode1
                    - barcode2
              externalIds:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  externalIds:
                    - externalId1
                    - externalId2
              trackingIds:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  trackingIds:
                    - trackingId1
                    - trackingId2
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /manifests:
    post:
      summary: Synchronously post a list of packages to set their dispatch date
      description: 'The packages must exist already in our systems. The package identifiers can be package IDs, tracking IDs, external IDs or barcodes. The validation is synchronous, thus the endpoint will respond accordingly depending on the data provided.'
      tags:
        - manifests
      operationId: postManifestsSync
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ManifestRequestWithPackageIds'
                - $ref: '#/components/schemas/ManifestRequestWithBarcodes'
                - $ref: '#/components/schemas/ManifestRequestWithExternalIds'
                - $ref: '#/components/schemas/ManifestRequestWithTrackingIds'
            examples:
              packageIds:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  packageIds:
                    - packageId1
                    - packageId2
              barcodes:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  barcodes:
                    - barcode1
                    - barcode2
              externalIds:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  externalIds:
                    - externalId1
                    - externalId2
              trackingIds:
                value:
                  transitType: truck
                  dispatchDate: '2025-01-01'
                  trackingIds:
                    - trackingId1
                    - trackingId2
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
components:
  x-descriptions:
    ship_date: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
    dispatch_date: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
    service_class: 'Requested class of service. The SLA for how long it will take a package to reach its destination, once it has been injected into a Veho facility'
    transit_type: The type of vehicle that the package has been loaded onto. Will default to 'truck'
    declared_value: 'Declared value of package, in USD pennies (5000 is $50 USD).'
    barcode: 'The unique alphanumeric barcode printed on the package label. Must be between 14 and 20 characters. For packages handled by a Veho delivery partner,  the submitted barcode will be ignored, and trackingId will be used as the barcode instead.'
    package: Description of the package. Note that this description will appear on the label.
    quote_id: The ID of the quote that was used to rate this package. Represented as a UUID.
    sla_delivery_date: |-
      A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package must be delivered.  The date must be the next day or greater. If not included, Veho will generate one for you. By standard, that date will be the first scan in a Veho warehouse + days from service class.

      Note: Veho will disregard any date provided in slaDeliveryDate for  any package marked as premiumEconomy in the serviceClass.
  responses:
    '200':
      description: successful operation with no body returned
    '201':
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: A message indicating the request was successful
    '400':
      description: Bad Request -- The request wasn't valid JSON or had missing or invalid fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    '401':
      description: Unauthorized -- The header did not include a valid apiKey header.
    '403':
      description: Forbidden -- The requested resource cannot be accessed with this apiKey.
    '404':
      description: Not Found -- The requested resource could not be found.
    '422':
      description: 'Unprocessable Entity -- The request was well formatted, but failed validation.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    '429':
      description: Too Many Requests
    '500':
      description: Internal Server Error -- We had a problem with our server. Try again later.
    '503':
      description: Service Unavailable -- We're temporarily offline for maintenance. Please try again later.
  schemas:
    OrderRequest:
      type: object
      properties:
        destination:
          $ref: '#/components/schemas/OrderAddress'
        fromAddress:
          description: |-
            Address where this order is originating from. Required only if requesting a quote
            with the order, as this is used to infer the nearest supported Veho injection facility
          $ref: '#/components/schemas/FromAddress'
        fromName:
          type: string
          description: Any name you want to use to identify where the order is coming from
        serviceClass:
          type: string
          default: groundPlus
          description: 'Requested class of service. The SLA for how long it will take a package to reach its destination, once it has been injected into a Veho facility'
          enum:
            - nextDay
            - sameDay
            - twoDay
            - vehoValue
            - groundPlus
            - premiumEconomy
            - expressAir
            - groundPlusOne
            - groundPlusTwo
            - groundPlusThree
            - groundPlusFour
        recipient:
          type: string
          description: Full name of recipient.
        externalId:
          type: string
          description: 'Any ID you want to associate with this order, e.g. your order ID.'
        merchantId:
          type: string
          description: 'If you are shipping on behalf of a merchant and have registered that merchant with us, supply that ID here.'
        packages:
          type: array
          items:
            $ref: '#/components/schemas/OrderRequestPackage'
        company:
          type: string
          description: 'Recipient''s company, if applicable.'
        phone:
          type: string
          description: Recipient's phone number (used for SMS).
        email:
          type: string
          format: email
          description: Recipient's email address. Used for delivery notifications and verification communications. May be required depending on your account configuration and delivery verification settings.
        instructions:
          type: string
          description: Any additional delivery instructions provided by recipient to assist driver with delivery.
        slaDeliveryDate:
          type: string
          format: date
          description: |-
            A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package must be delivered.  The date must be the next day or greater. If not included, Veho will generate one for you. By standard, that date will be the first scan in a Veho warehouse + days from service class.

            Note: Veho will disregard any date provided in slaDeliveryDate for  any package marked as premiumEconomy in the serviceClass.
        consumerExpectedServiceDate:
          type: string
          format: date
          description: 'A string in the ISO 8601 calendar date and time extended format, e.g. 2023-05-19T12:34:56.789Z, representing the date and time by which the customer is expecting the package to be delivered.'
        packageCount:
          type: integer
          description: 'Number of packages associated with this order. Use this field to create one or more packages without supplying additional information. To include package-specific information, use the packages field instead.'
          writeOnly: true
          minimum: 1
        rate:
          type: number
          description: Deprecated rate field
          deprecated: true
          x-internal: true
      required:
        - destination
        - recipient
        - fromAddress
      title: Order Request
      additionalProperties: false
    PatchOrderRequest:
      type: object
      properties:
        instructions:
          type: string
          description: Delivery instructions for the order
    OrderResponse:
      title: Order Response
      type: object
      properties:
        _id:
          type: string
          readOnly: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        clientId:
          type: string
          description: Client ID
          readOnly: true
        lastEvent:
          type: string
          readOnly: true
        eventLog:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/OrderEvent'
        serviceType:
          type: string
          description: 'Requested type of service, currently delivery or pickup.'
          enum:
            - delivery
            - pickup
          readOnly: true
        destination:
          $ref: '#/components/schemas/OrderAddress'
        fromAddress:
          $ref: '#/components/schemas/FromAddress'
        fromName:
          type: string
          description: Any name you want to use to identify where the order is coming from
        serviceClass:
          type: string
          default: groundPlus
          description: 'Requested class of service. The SLA for how long it will take a package to reach its destination, once it has been injected into a Veho facility'
          enum:
            - nextDay
            - sameDay
            - twoDay
            - vehoValue
            - groundPlus
            - premiumEconomy
            - expressAir
            - groundPlusOne
            - groundPlusTwo
            - groundPlusThree
            - groundPlusFour
        recipient:
          type: string
          description: Full name of recipient.
        externalId:
          type: string
          description: 'Any ID you want to associate with this order, e.g. your order ID.'
        merchantId:
          type: string
          description: 'If you are shipping on behalf of a merchant and have registered that merchant with us, supply that ID here.'
        company:
          type: string
          description: 'Recipient''s company, if applicable.'
        phone:
          type: string
          description: Recipient's phone number (used for SMS).
        email:
          type: string
          format: email
          description: Recipient's email address. Used for delivery notifications and verification communications. May be required depending on your account configuration and delivery verification settings.
        instructions:
          type: string
          description: Any additional delivery instructions provided by recipient to assist driver with delivery.
        slaDeliveryDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: |-
            A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package must be delivered.  The date must be the next day or greater. If not included, Veho will generate one for you. By standard, that date will be the first scan in a Veho warehouse + days from service class.

            Note: Veho will disregard any date provided in slaDeliveryDate for  any package marked as premiumEconomy in the serviceClass.
        consumerExpectedServiceDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}.\d{3}Z$'
          description: 'A string in the ISO 8601 calendar date and time extended format, e.g. 2023-05-19T12:34:56.789Z, representing the date and time by which the customer is expecting the package to be delivered.'
        packages:
          type: array
          items:
            $ref: '#/components/schemas/PackageResponse'
        rate:
          type: number
          description: Deprecated rate field
          deprecated: true
          x-internal: true
      description: 'The Order is the container for any number of Packages going to the same recipient and address. An Order can have a single Package, or you can add as my packages to an order as you like.'
    QuotedOrderResponse:
      additionalProperties: true
      title: Order Response with Quoted Packages
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - type: object
          properties:
            packages:
              type: array
              items:
                $ref: '#/components/schemas/QuotedPackageResponse'
    OrderRequestPackage:
      type: object
      title: Order Request Package
      additionalProperties: false
      x-examples:
        example-1:
          externalId: myPackageId1
          length: 12
          width: 10
          height: 9
          weight: 25
          declaredValue: 7500
          barCode: GqN8v5wvGNxmnFu4Y
          quoteId: dd4b0d81-a237-44c6-89f1-3be7650bb7ff
      examples:
        - externalId: myPackageId1
          length: 12
          width: 10
          height: 9
          weight: 25
          declaredValue: 7500
          barCode: GqN8v5wvGNxmnFu4Y
          quoteId: dd4b0d81-a237-44c6-89f1-3be7650bb7ff
      properties:
        externalId:
          type: string
          description: Any ID you want to associate with this package. Note that you should associate an Order ID with the Order object.
        length:
          type: number
          maximum: 48
          description: |-
            Length (inches) of the package. Required if requesting a quote with a
            new order. The package volume (length * width * height) cannot exceed 9849.6 cubic inches (5.7 cubic feet).
        lengthDim:
          type: integer
          maximum: 48
          description: Alias for length. Do not use as future support is not guaranteed
          deprecated: true
        width:
          type: number
          maximum: 48
          description: |-
            Width (inches) of the package. Required if requesting a quote with a
            new order. The package volume (length * width * height) cannot exceed 9849.6 cubic inches (5.7 cubic feet).
        height:
          type: number
          maximum: 48
          description: |-
            Height (inches) of the package. Required if requesting a quote with a
            new order. The package volume (length * width * height) cannot exceed 9849.6 cubic inches (5.7 cubic feet).
        weight:
          type: number
          maximum: 50
          description: |-
            Weight (pounds) of the package. Required if requesting a quote with a
            new order
        declaredValue:
          type: number
          description: 'Declared value of package, in USD pennies (5000 is $50 USD).'
        signatureRequired:
          description: Specify whether recipient has to sign for this package. Not currently supported by operations and will always be set to false.
          default: false
          deprecated: true
        barCode:
          type: string
          description: 'The unique alphanumeric barcode printed on the package label. Must be between 14 and 20 characters. For packages handled by a Veho delivery partner,  the submitted barcode will be ignored, and trackingId will be used as the barcode instead.'
          minLength: 14
          maxLength: 20
          pattern: '^[a-zA-Z0-9]+$'
        description:
          type: string
          description: Description of the package. Note that this description will appear on the label.
        specialHandling:
          $ref: '#/components/schemas/SpecialHandling'
        attendedDelivery:
          $ref: '#/components/schemas/AttendedDelivery'
        quoteId:
          type: string
          description: The ID of the quote that was used to rate this package. Represented as a UUID.
          format: uuid
        dispatchDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
        shipDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
    SpecialHandling:
      title: Special Handling
      additionalProperties: false
      type: object
      description: Special handling modifiers.
      properties:
        dryIce:
          $ref: '#/components/schemas/DryIce'
        hazmat:
          $ref: '#/components/schemas/Hazmat'
    DryIce:
      title: Dry Ice
      additionalProperties: false
      deprecated: true
      type: object
      description: 'Note that Veho no longer supports shipping dry ice, and will reject packages containing dry ice. Indicates that this package contains dry ice (carbon dioxide, solid).'
      required:
        - weight
      properties:
        weight:
          type: number
          description: 'Weight of dry ice, in pounds. Will be rounded to 3 decimal places if more than 3 are provided.'
          minimum: 0
    Hazmat:
      title: Hazmat (Hazardous Materials)
      additionalProperties: false
      type: object
      description: 'Indicates that this package contains hazardous materials. If you intend to ship hazardous materials, please get in contact with a Veho representative.'
      required:
        - limitedQuantity
      properties:
        limitedQuantity:
          type: boolean
          description: Indicates whether this package contains limited quantity (LQ) hazardous materials or not.
    AttendedDelivery:
      title: Attended Delivery
      additionalProperties: false
      type: object
      description: Configuration for attended delivery on this package. Attended delivery requires interaction between the driver and the recipient to confirm delivery. Currently only PIN verification is supported. Required fields within this object  may vary based on your account configuration.
      required:
        - verificationType
      properties:
        verificationType:
          type: string
          enum:
            - pinVerification
          description: |-
            The type of delivery verification required for this package.
            pinVerification — A unique PIN is sent to the recipient and must be provided to the driver to release the package.
    PackageResponse:
      additionalProperties: true
      title: Package Response
      type: object
      properties:
        _id:
          type: string
          description: Unique Package ID. Generated by Veho.
          readOnly: true
        orderId:
          type: string
          description: Id of the order this package belongs to.
          readOnly: true
        clientId:
          type: string
          description: Client ID
          readOnly: true
        pdfShippingLabelLink:
          type: string
          description: |
            Link to pdf shipping label file. Note that while the label link is immediately generated with the order, please account for an extra 100ms-5000ms after order creation for the label to be generated. Before that, this link may return a 404 error.
          readOnly: true
        pngShippingLabelLink:
          type: string
          description: |
            Link to png shipping label file. Note that while the label link is immediately generated with the order, please account for an extra 100ms-5000ms after order creation for the label to be generated. Before that, this link may return a 404 error.
          readOnly: true
        zplShippingLabelLink:
          type: string
          description: |
            Link to zpl shipping label file. Note that while the label link is immediately generated with the order, please account for an extra 100ms-5000ms after order creation for the label to be generated. Before that, this link may return a 404 error.
          readOnly: true
        lastEvent:
          type: string
          description: Latest state of the package
          enum:
            - created
            - pending
            - notFound
            - pickedUpFromClient
            - droppedOffAtVeho
            - pickedUpFromVeho
            - delivered
            - returned
            - cancelled
            - misdelivered
            - discarded
            - returnedToClient
            - returnedToVeho
            - notReceivedFromClient
            - removedForRescue
            - removedForRollover
            - outForPickup
            - pickedUpFromConsumer
            - pickupSkipped
            - pickupFailed
            - pickupDroppedOffAtVeho
            - pickupTransferredToExternalCarrier
          readOnly: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        trackingId:
          type: string
          description: A unique 14-character string designed to be visually unambiguous that clients and recipients can use to track package status.
          readOnly: true
        eventLog:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Event'
        externalCarrier:
          type: object
          description: |
            External Carrier
          properties:
            name:
              type: string
              description: |
                External Carrier Name
              readOnly: true
            trackingId:
              type: string
              description: |
                External Carrier Tracking ID
              readOnly: true
        externalShippingLabelLink:
          type: string
          description: |
            Link to shipping label file provided by the client
        externalId:
          type: string
          description: Any ID you want to associate with this package. Note that you should associate an Order ID with the Order object.
        length:
          type: integer
          maximum: 48
          description: Length (inches) of the package
        width:
          type: integer
          maximum: 48
          description: Width (inches) of the package
        height:
          type: integer
          maximum: 48
          description: Height (inches) of the package
        weight:
          type: integer
          maximum: 50
          description: Weight (pounds) of the package
        declaredValue:
          type: number
          description: 'Declared value of package, in USD pennies (5000 is $50 USD).'
        description:
          type: string
          description: Description of the package. Note that this description will appear on the label.
        signatureRequired:
          description: Specify whether recipient has to sign for this package.
          type: boolean
          default: false
          deprecated: true
        barCode:
          type: string
          description: 'The unique alphanumeric barcode printed on the package label. Must be between 14 and 20 characters. For packages handled by a Veho delivery partner,  the submitted barcode will be ignored, and trackingId will be used as the barcode instead.'
          minLength: 7
          maxLength: 20
        consumerId:
          type: string
          description: ID of consumer
          deprecated: true
        specialHandling:
          $ref: '#/components/schemas/SpecialHandling'
        attendedDelivery:
          $ref: '#/components/schemas/AttendedDelivery'
        scheduledServiceDate:
          type: string
          description: Scheduled service date for the package
          format: date-time
          readOnly: true
        actualServiceDate:
          type: string
          description: Date of actual service for the package
          format: date-time
          readOnly: true
        quoteId:
          type: string
          description: The ID of the quote that was used to rate this package. Represented as a UUID.
          format: uuid
          readOnly: true
        dispatchDate:
          type: string
          format: date
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
          readOnly: true
        shipDate:
          type: string
          format: date
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
          readOnly: true
        slaServiceDate:
          type: string
          format: date
          description: The date by which the package is expected to be delivered. Replacement for slaDeliveryDate
          readOnly: true
        perishable:
          type: boolean
          description: Indicates whether the package is perishable
          readOnly: true
        humanReadableOperation:
          type: string
          description: 'The lastEvent on the package as a more detailed string. For example, "Package out for delivery" instead of "pickedUpFromVeho"'
          readOnly: true
    QuotedPackageResponse:
      allOf:
        - $ref: '#/components/schemas/PackageResponse'
        - type: object
          properties:
            quote:
              $ref: '#/components/schemas/SimpleQuoteItem'
    GetPackageByIdResponse:
      allOf:
        - $ref: '#/components/schemas/PackageResponse'
        - type: object
          properties:
            deliveryImage:
              type: string
              description: 'URL to access the delivery image for package, on request, if available. This field can be requested by setting the "includeDeliveryImage" query parameter to true'
    Event:
      type: object
      description: 'The eventLog object represents an event in the lifecycle of the package:'
      properties:
        eventType:
          type: string
          description: enum representing the event that occurred
          enum:
            - created
            - pending
            - notFound
            - pickedUpFromClient
            - droppedOffAtVeho
            - pickedUpFromVeho
            - delivered
            - returned
            - cancelled
            - misdelivered
            - discarded
            - PackageArrivedAtFacility
            - PackageDepartedFromFacility
            - PackageHadDeliveryIssue
            - PackageLoadedOntoFirstMileTransit
            - pendingReturnToClient
            - returnedToClient
            - returnedToVeho
            - notReceivedFromClient
            - removedForRescue
            - removedForRollover
            - outForPickup
            - pickedUpFromConsumer
            - pickupSkipped
            - pickupFailed
            - pickupDroppedOffAtVeho
            - pickupTransferredToExternalCarrier
          readOnly: true
        timestamp:
          type: string
          format: date-time
          description: time at which the event occurred
          readOnly: true
        message:
          type: string
          description: message associated with the event
          readOnly: true
        city:
          type: string
          description: 'The city of either the facility or destination where the event occurred. Available for delivered, droppedOffAtVeho, pickedUpFromVeho, and arrivedAtFacility events.'
          readOnly: true
        state:
          type: string
          description: 'The state of either the facility or destination where the event occurred. Available for delivered, droppedOffAtVeho, pickedUpFromVeho, and arrivedAtFacility events.'
          readOnly: true
        meta:
          type: object
          description: freeform JSON metadata associated with the event. The fields presented in this object are subject to change
          readOnly: true
      readOnly: true
    OrderEvent:
      type: object
      description: The eventLog object represents an event in the lifecycle of the order
      properties:
        eventType:
          type: string
          enum:
            - created
            - cancelled
          description: enum representing the event that occurred
          readOnly: true
        timestamp:
          type: string
          format: date-time
          description: time at which the event occurred
          readOnly: true
    MerchantRequest:
      type: object
      x-examples:
        example-1:
          name: Flintstone's Wheels
      description: Merchants. For 3PL clients who ship on behalf of merchants
      title: Merchant Request
      required:
        - name
      properties:
        name:
          type: string
          description: Merchant Name
    MerchantResponse:
      type: object
      x-examples:
        example-1:
          _id: TuN75hYYBicRsaLWo
          name: Flintstone's Wheels
      description: Merchants. For 3PL clients who ship on behalf of merchants
      title: Merchant Response
      properties:
        _id:
          type: string
          description: Merchant ID
        name:
          type: string
          description: Merchant Name
        clientId:
          type: string
          description: Client ID
          readOnly: true
    OrderAddress:
      title: Order Address
      type: object
      description: Delivery address
      required:
        - zipCode
        - street
        - city
        - state
      properties:
        street:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State. 2 letter postal code or full state name
          example: CO
        zipCode:
          type: string
          description: ZIP code
          pattern: '^\d{5}(-?\d{4})?$'
        apartment:
          type: string
          description: 'Apartment number, suite number or any info on the second line of an address'
        country:
          type: string
          description: 2 letter ISO country code
    FromAddress:
      title: From Address
      type: object
      description: Address where this order is originating from
      required:
        - addressLine1
        - city
        - state
        - zipCode
      properties:
        addressLine1:
          type: string
          description: Address line 1
        addressLine2:
          type: string
          description: Address line 2
        city:
          type: string
          description: City
        state:
          type: string
          description: State. 2 letter postal code or full state name
          example: CO
        zipCode:
          type: string
          description: ZIP code
          pattern: '^\d{5}(-?\d{4})?$'
        country:
          type: string
          description: 2 letter ISO country code
    WebhookConfigurationResponse:
      description: 'Webhook Configurations define what endpoint Veho will send webhook events to, and which package milestone events it will send them for.'
      type: object
      properties:
        id:
          type: string
          example: abcd1234
        createdAt:
          type: string
          format: date-time
          example: '2021-01-30T08:30:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2021-01-30T08:30:00Z'
        endpoint:
          description: The URL that Veho will send webhook events to for this configuration
          type: string
          format: url
          example: 'https://www.example.com'
        eventType:
          $ref: '#/components/schemas/EventType'
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        customHeaders:
          description: 'Headers needed to call the endpoint correctly, ex. an API key'
          type: object
          additionalProperties:
            type: string
          example:
            KEY-1: SOMETHING-1
            KEY-2: SOMETHING-2
    WebhookConfigurationListResponse:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/WebhookConfigurationResponse'
    WebhookConfigurationRequest:
      description: Defines a webhook configuration
      type: object
      properties:
        endpoint:
          type: string
          description: The endpoint that webhook events will be sent to for this configuration
          format: url
          example: 'https://www.example.com'
        eventType:
          $ref: '#/components/schemas/EventType'
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        customHeaders:
          description: 'Headers needed to call the endpoint correctly, ex. an API key'
          type: object
          additionalProperties:
            type: string
          example:
            KEY-1: SOMETHING-1
            KEY-2: SOMETHING-2
      required:
        - endpoint
        - serviceType
        - eventType
    WebhookEvent:
      description: 'A webhook event represents a single event that Veho attempted to send to a webhook endpoint. Each webhook event contains information about the attempted send, as well as a `payload` field to represent the webhook event object that was sent.'
      type: object
      properties:
        id:
          description: ID of the event that occured
          type: string
        createdAt:
          description: time this webhook event initially tried to send
          type: string
          format: date-time
        updatedAt:
          description: time of last update to this webhook event
          type: string
          format: date-time
        webhookConfigurationId:
          description: ID of the webhook configuration that triggered this send
          type: string
        packageId:
          description: package ID associated with this event
          type: string
        orderId:
          description: order ID associated with this event
          type: string
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        eventType:
          $ref: '#/components/schemas/EventType'
        endpoint:
          description: url this event attempted to send to
          type: string
          format: url
        occurredAt:
          description: time the originating event happened
          type: string
          format: date-time
        payload:
          description: the webhook event object sent
          type: object
          properties:
            _id:
              type: string
          additionalProperties: true
        trackingId:
          description: external tracking id supplied to Veho to track this package
          type: string
        barcode:
          description: the custom or generated barcode value for the package
          type: string
        result:
          description: the final result of this webhook
          type: string
          enum:
            - success
            - failure
    ServiceType:
      description: 'Type of service associated, delivery or pickup'
      type: string
      enum:
        - delivery
        - pickup
    EventType:
      description: Type of package milestone event associated with the webhook
      type: string
      enum:
        - package.created
        - package.pickedUpFromClient
        - package.droppedOffAtVeho
        - package.pickedUpFromVeho
        - package.delivered
        - package.cancelled
        - package.misdelivered
        - package.discarded
        - package.notReceivedFromClient
        - package.pendingReturnToClient
        - package.returnedToClient
        - package.rescheduled
        - package.delayed
        - package.arrivedAtFacility
        - package.departedFromFacility
        - package.hadDeliveryIssue
        - package.outForPickup
        - package.pickedUpFromConsumer
        - package.pickupSkipped
        - package.pickupDroppedOffAtVeho
        - package.pickupFailed
        - package.pickupTransferredToExternalCarrier
    ServiceableZipsResponse:
      type: object
      required:
        - zipCodes
      properties:
        zipCodes:
          type: array
          description: Serviceable ZIP codes
          items:
            type: string
    SimpleQuoteRequest:
      type: object
      description: Required fields for a simple quote generation request
      required:
        - originationZip
        - deliveryZip
        - packages
      properties:
        originationZip:
          type: string
          description: ZIP code the package originates from
          pattern: '^\d{5}(-?\d{4})?$'
        deliveryZip:
          type: string
          description: The delivery ZIP code
          pattern: '^\d{5}(-?\d{4})?$'
        packages:
          type: array
          description: An array of packages to be quoted
          minItems: 1
          maxItems: 10
          items:
            type: object
            required:
              - length
              - width
              - height
              - weight
            properties:
              length:
                type: number
                maximum: 48
                minimum: 0
                description: Length (inches) of the package
              width:
                type: number
                maximum: 48
                minimum: 0
                description: Width (inches) of the package
              height:
                type: number
                maximum: 48
                minimum: 0
                description: Height (inches) of the package
              weight:
                type: number
                maximum: 50
                exclusiveMinimum: 0
                description: Weight (pounds) of the package
              attendedDelivery:
                type: object
                description: Optional attended delivery configuration for the package
                properties:
                  verificationType:
                    type: string
                    description: The type of verification required for attended delivery
                    enum:
                      - pinVerification
                required:
                  - verificationType
        shipDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
          format: date
        serviceClass:
          type: string
          default: groundPlus
          optional: true
          description: 'Requested class of service. The SLA for how long it will take a package to reach its destination, once it has been injected into a Veho facility'
          enum:
            - nextDay
            - sameDay
            - twoDay
            - vehoValue
            - groundPlus
            - premiumEconomy
            - expressAir
            - groundPlusOne
            - groundPlusTwo
            - groundPlusThree
            - groundPlusFour
    SimpleQuoteResponse:
      type: array
      description: 'An array of quoted packages, including rates and assumed dates'
      items:
        $ref: '#/components/schemas/SimpleQuoteItem'
    SimpleQuoteItem:
      type: object
      properties:
        quoteId:
          type: string
          description: ID of the generated quote associated to the rated package
        transitTime:
          type: number
          description: Days package will be in transit
        serviceClass:
          type: string
          default: groundPlus
          description: 'Requested class of service. The SLA for how long it will take a package to reach its destination, once it has been injected into a Veho facility'
          enum:
            - nextDay
            - sameDay
            - twoDay
            - vehoValue
            - groundPlus
            - premiumEconomy
            - expressAir
            - groundPlusOne
            - groundPlusTwo
            - groundPlusThree
            - groundPlusFour
        currency:
          type: string
          default: USD
          description: 'Currency for rate, currently only `USD` is available'
          enum:
            - USD
        rate:
          type: number
          description: All-in rate for quoted order
          minimum: 0
        assumedInjectionZip:
          type: string
          description: The injection ZIP code assumed for the quote calculation
        createdAt:
          type: string
          description: Time at which the quote was created
          format: date-time
        shipDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
          format: date
        weight:
          type: number
          description: Weight (pounds) of the package
        billableWeight:
          type: number
          description: 'Weight of the package as used for rate calculations. This is derived from the greater of package weight rounded to the nearest pound, or the package volume divided by dim factor.'
        length:
          type: number
          description: Length (inches) of the package
        width:
          type: number
          description: Width (inches) of the package
        height:
          type: number
          description: Height (inches) of the package
        zone:
          type: string
          description: Zone of the package
    ManifestRequestWithPackageIds:
      type: object
      required:
        - packageIds
      properties:
        transitType:
          type: string
          default: truck
          description: The type of vehicle that the package has been loaded onto. Will default to 'truck'
          enum:
            - truck
            - plane
        dispatchDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
          pattern: '^\d{4}-\d{2}-\d{2}$'
          format: date
        packageIds:
          type: array
          description: An array of packages to be updated with new dispatchDates
          minItems: 1
          maxItems: 100
          items:
            type: string
        shipDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
        loadId:
          type: string
          description: Client-provided load identifier for the manifest
    ManifestRequestWithBarcodes:
      type: object
      required:
        - barcodes
      properties:
        transitType:
          type: string
          default: truck
          description: The type of vehicle that the package has been loaded onto. Will default to 'truck'
          enum:
            - truck
            - plane
        dispatchDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
        barcodes:
          type: array
          description: An array of packages to be updated with new dispatchDates
          minItems: 1
          maxItems: 100
          items:
            type: string
        shipDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
        loadId:
          type: string
          description: Client-provided load identifier for the manifest
    ManifestRequestWithExternalIds:
      type: object
      required:
        - externalIds
      properties:
        transitType:
          type: string
          default: truck
          description: The type of vehicle that the package has been loaded onto. Will default to 'truck'
          enum:
            - truck
            - plane
        dispatchDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
        externalIds:
          type: array
          description: An array of packages to be updated with new dispatchDates
          minItems: 1
          maxItems: 100
          items:
            type: string
        shipDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
        loadId:
          type: string
          description: Client-provided load identifier for the manifest
    ManifestRequestWithTrackingIds:
      type: object
      required:
        - trackingIds
      properties:
        transitType:
          type: string
          default: truck
          description: The type of vehicle that the package has been loaded onto. Will default to 'truck'
          enum:
            - truck
            - plane
        dispatchDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
        trackingIds:
          type: array
          description: An array of packages to be updated with new dispatchDates
          minItems: 1
          maxItems: 100
          items:
            type: string
        shipDate:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
        loadId:
          type: string
          description: Client-provided load identifier for the manifest
    ManifestResponse:
      type: object
      description: Manifest response structure
      properties:
        dispatchDate:
          type: string
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to depart your facility. The date must be today or later. It cannot be in the past. If the dispatch date is not included, the current timestamp will be used.'
          optional: false
          format: date
        shipDate:
          type: string
          format: date
          description: 'A string in the ISO 8601 calendar date extended format, e.g. 2019-08-13, representing the day on which the package is expected to be tendered. The date must be today or greater. It cannot be in the past.'
          optional: true
        tenderFacilityId:
          $ref: '#/components/schemas/FacilityId'
          optional: true
        packageIdsUpdated:
          type: array
          items:
            type: string
          description: An array of package IDs for packages that were updated with the new dispatch date
          optional: true
        packageIdsNotFound:
          type: array
          items:
            type: string
          description: An array of package IDs for packages that were not found within the system
          optional: true
        barcodesUpdated:
          type: array
          items:
            type: string
          description: An array of barcodes for packages that were updated with the new dispatch date
          optional: true
        barcodesNotFound:
          type: array
          items:
            type: string
          description: An array of barcodes for packages that were not found within the system
          optional: true
        trackingIdsUpdated:
          type: array
          items:
            type: string
          description: An array of tracking IDs for packages that were updated with the new dispatch date
          optional: true
        trackingIdsNotFound:
          type: array
          items:
            type: string
          description: An array of tracking IDs for packages that were not found within the system
          optional: true
        externalIdsUpdated:
          type: array
          items:
            type: string
          description: An array of external IDs for packages that were updated with the new dispatch date
          optional: true
        externalIdsNotFound:
          type: array
          items:
            type: string
          description: An array of external IDs for packages that were not found within the system
          optional: true
    FacilityId:
      type: string
      minLength: 17
      maxLength: 26
      description: |
        ID of the facility where the package will be first tendered to Veho. Primarily used for the [manifest API](#section/Manifest-API), but
        may be provided in the [create order API](#operation/createOrder) with shipDate to improve package scheduling accuracy.

        Available facilities and their markets are shown below. Note that we're expanding rapidly, so this list may not be up to date. 
        Please reach out to api@shipveho.com if you don't see the location you're looking for in the list.

        - Atlanta - Flowery Branch: dCXhH5MUgazmhGfKeJE9B4
        - Atlanta - Fulton Industrial: GRhhgCv5gDgLS6Qka
        - Austin - North Burnet: 3iov7ubHhs94aEPBL
        - Baltimore - Elkridge: dMXtHiHjrYoh4i3De
        - Birmingham - Bessemer: gfq9t2DxppGyCXJ34RGqEY
        - Boston - Framingham: woYEFuLfPRUzrkVU3JawVg
        - Boston - Walpole: ux91QaswnPYeVaUE81eKFx
        - Brooklyn - East Williamsburg: w83soVN16cPgGz3Ctivgdp
        - Buffalo - Park Meadow: 01KTY6EAAF2CTJPGEAQ6GDAYD8
        - Charlotte - Davis Lake-Eastfield: qAtfork2ynpbgiw4H
        - Chicago - Franklin Park: dEoWcaMvuHaraXQDUVRFKX
        - Cincinnati - West Chester Twp: wMT2Qvnp2BakKxY1AQGkMB
        - Cleveland - North Randall: bVpL7Lc44QZcpWumEYhqxn
        - Colorado Springs - Northeast Colorado Springs: ta54XMNfRwq9zL5qA
        - Columbus - Parsons Industrial: WKeYjAqygeKAgmqck
        - Dallas - Flower Mound: 6Ao5iHPxXztinf5iK
        - Dallas - Grand Prairie: 6avT1L2rnhHRCEt9C2jcWJ
        - Denver - Northeast Park Hill: ddrDmNaR9rEp5vjCk
        - Detroit - Highland Park: qVn1ReCYZR5aKwVA1DR7Zb
        - Fort Collins: tK9ZEsADJbZP48PEk
        - Fort Myers - Three Oaks: a5o8VHxsLgvU7hktgrW17X
        - Greensboro - Winston Salem: 3ngUhZdL2Hngq9bqkwK7gN
        - Harrisburg: 01KTY6YYT73MFS7BDVH7QFEM74
        - Hartford - Newington: hk6YYM1Bz4HkVnPLLNzveg
        - Houston - Carverdale: 3MbxHDDS364R4TXDK
        - Indianapolis - Park 100: HoCzKZdLkqecd8JhG
        - Inland Empire - Ontario: 9a8BfAzsWS35pw6ME2tQwv
        - Jacksonville - Pine Forest: jvsKgT3GqRdXWr8Ee
        - Kansas City - Lee's Summit: 01KP8R2VMCSWG4WX9XV30Z8TF1
        - Las Vegas - North Las Vegas: 19P5QQXpsT3pXcLwfdW5ZS
        - Long Island - Plainview: jbDcupiysexpFfWHQFRvbG
        - Los Angeles - Santa Fe Springs: 31FBXPhg5yGg41DXHpCyGX
        - Louisville - Greenwood: qEYMv6yBFr63He5s3UmZ4u
        - Memphis - Whitehaven: 8PtYA5VzSXAD4dK6yvrwgf
        - Milwaukee - Mitchell West: ZHsMxYNvS2oYWsXDJ
        - Minneapolis - Eagan: vQTApMmprwW5A6NbEQUS3B
        - Nashville - Airport South: tW6dmmFfjbzUUFzN1CqUae
        - Newark - Avenel: qABpPZ6gVsACXNkmyMEuLA
        - Norfolk - Fairmont Park: kMwuuGVtEkkFMuvP28g6ih
        - Northern Virginia - Alexandria: EMAy3J3o7vs9XEkXd
        - Oklahoma City - Capitol View: 57AC8VFocVtqyMU3FJaJRN
        - Orlando - Southchase: yECerwQzfpqNTwXXq
        - Philadelphia - Bridesburg: fT3MwATFjkCwGQ6W9
        - Phoenix - West Gate: gy42rdnmYv6n7tLroLh7Qv
        - Pittsburgh - Fairywood: cUDHZY9YoQT15XJ1USK7GW
        - Raleigh - Garner: ECqn5c9CtPCcNyiHf
        - Richmond - Sandston: 88RZK4vnVXsEkP9trPoMUx
        - Rochester - Brighton: 01KTY6KMQY0VACBEB0DMKNMRHB
        - Sacramento - Dos Rios: 01KR3X20A9AP27PMM0GDWWMP4H
        - San Antonio - Blossoms Park: MqGres8scbvRp6jT8
        - San Diego - Morena: ciSJ5yQGofLyWGCWtRduPQ
        - San Francisco - Union City: 01KR3W879M7ZZT2KNEWRYES77R
        - South Florida - Hialeah: e1WrdksedyHiGuneQtUFPK
        - South Florida - Pompano Beach: i7bWs6aMTnGP76Eab
        - St. Louis - Marine Villa: fjyrh4T5C8ZcKLubxVPcX6
        - Tampa - Riverview: kgR6wzjoLoHKKkutypDXTJ
        - Tampa - Tampa Bay: emLLeyNvZbZxF3wBc
        - Tucson - Milton Manor: 01KTY6SN8705Z22FVK661E3C8T
        - Tulsa - Rosewood: vJ5DrzqgRcRPD3UGZzdYZ2
        - Valdosta (trailer swap): hi8okn7qC65DvmJ5rPPbrw
        - Westchester - Mount Vernon: b1dApFZdTnvirmWMCvFxJp
        - Westchester - Yonkers: iz15JEArSje2K2by8NHaCM
      enum:
        - dCXhH5MUgazmhGfKeJE9B4
        - GRhhgCv5gDgLS6Qka
        - 3iov7ubHhs94aEPBL
        - dMXtHiHjrYoh4i3De
        - gfq9t2DxppGyCXJ34RGqEY
        - woYEFuLfPRUzrkVU3JawVg
        - ux91QaswnPYeVaUE81eKFx
        - w83soVN16cPgGz3Ctivgdp
        - 01KTY6EAAF2CTJPGEAQ6GDAYD8
        - qAtfork2ynpbgiw4H
        - dEoWcaMvuHaraXQDUVRFKX
        - wMT2Qvnp2BakKxY1AQGkMB
        - bVpL7Lc44QZcpWumEYhqxn
        - ta54XMNfRwq9zL5qA
        - WKeYjAqygeKAgmqck
        - 6Ao5iHPxXztinf5iK
        - 6avT1L2rnhHRCEt9C2jcWJ
        - ddrDmNaR9rEp5vjCk
        - qVn1ReCYZR5aKwVA1DR7Zb
        - tK9ZEsADJbZP48PEk
        - a5o8VHxsLgvU7hktgrW17X
        - 3ngUhZdL2Hngq9bqkwK7gN
        - 01KTY6YYT73MFS7BDVH7QFEM74
        - hk6YYM1Bz4HkVnPLLNzveg
        - 3MbxHDDS364R4TXDK
        - HoCzKZdLkqecd8JhG
        - 9a8BfAzsWS35pw6ME2tQwv
        - jvsKgT3GqRdXWr8Ee
        - 01KP8R2VMCSWG4WX9XV30Z8TF1
        - 19P5QQXpsT3pXcLwfdW5ZS
        - jbDcupiysexpFfWHQFRvbG
        - 31FBXPhg5yGg41DXHpCyGX
        - qEYMv6yBFr63He5s3UmZ4u
        - 8PtYA5VzSXAD4dK6yvrwgf
        - ZHsMxYNvS2oYWsXDJ
        - vQTApMmprwW5A6NbEQUS3B
        - tW6dmmFfjbzUUFzN1CqUae
        - qABpPZ6gVsACXNkmyMEuLA
        - kMwuuGVtEkkFMuvP28g6ih
        - EMAy3J3o7vs9XEkXd
        - 57AC8VFocVtqyMU3FJaJRN
        - yECerwQzfpqNTwXXq
        - fT3MwATFjkCwGQ6W9
        - gy42rdnmYv6n7tLroLh7Qv
        - cUDHZY9YoQT15XJ1USK7GW
        - ECqn5c9CtPCcNyiHf
        - 88RZK4vnVXsEkP9trPoMUx
        - 01KTY6KMQY0VACBEB0DMKNMRHB
        - 01KR3X20A9AP27PMM0GDWWMP4H
        - MqGres8scbvRp6jT8
        - ciSJ5yQGofLyWGCWtRduPQ
        - 01KR3W879M7ZZT2KNEWRYES77R
        - e1WrdksedyHiGuneQtUFPK
        - i7bWs6aMTnGP76Eab
        - fjyrh4T5C8ZcKLubxVPcX6
        - kgR6wzjoLoHKKkutypDXTJ
        - emLLeyNvZbZxF3wBc
        - 01KTY6SN8705Z22FVK661E3C8T
        - vJ5DrzqgRcRPD3UGZzdYZ2
        - hi8okn7qC65DvmJ5rPPbrw
        - b1dApFZdTnvirmWMCvFxJp
        - iz15JEArSje2K2by8NHaCM
    ErrorResponse:
      description: Error response object
      type: object
      required:
        - message
      properties:
        message:
          description: Error description
          type: string
        errors:
          description: List of validation errors
          type: array
          items:
            type: object
            required:
              - code
              - message
              - path
            properties:
              code:
                description: Error code
                type: string
                enum:
                  - invalid_type
                  - unrecognized_keys
                  - invalid_string
                  - invalid_enum_value
                  - invalid_date
                  - too_small
                  - too_big
                  - invalid_packages
                  - invalid_address_field
                  - unserviceable_zip_code
                  - invalid_merchant
                  - invalid_external_client
                  - missing_package_description
              message:
                type: string
                description: Error description
              path:
                description: Path to the invalid field in your input
                type: array
                items:
                  type:
                    - string
                    - number
              expected:
                type: string
                description: Expected type
              received:
                type: string
                description: Received type
              keys:
                description: List of unrecognized keys
                type: array
                items:
                  type: string
              options:
                description: Valid string values for the enum
                type: array
                items:
                  type: string
              minimum:
                type: number
                description: Minimum expected length/value
              maximum:
                type: number
                description: Maximum expected length/value
        error:
          description: Legacy error description (deprecated)
          deprecated: true
          oneOf:
            - type: object
              properties:
                code:
                  type: integer
                error:
                  type: string
            - type: string
  securitySchemes:
    apiKey:
      name: apikey
      type: apiKey
      in: header
security:
  - apiKey: []
